body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: white !important;
		}
        
        .login-link {
			position: absolute;
			top: 10px;
			right: 10px;
			border: 3px solid black; /* Tipo de borda: largura, estilo e cor */
			border-radius: 15px; /* Valor do raio para bordas arredondadas */
			padding: 5px; /* Espaçamento interno para afastar o texto da borda */
			display: inline-block; 
			background-color: #941111;
			color: #fff; /* Cor do texto */
			text-decoration: none;
			transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
            
        }

		.login-link a {
			font-family: "Play", sans-serif;
			color: inherit; /* Cor do texto herdada da classe pai */
			text-decoration: none; /* Remove sublinhado */
			padding: 10px 20px;
		}
		
		.login-link:hover {
			background-color: #535050; /* Cor alterada ao passar o mouse */
		}
		
		.login-link:hover a {
			color: #fff; /* Cor do texto ao passar o mouse */
		}
		
		.login-link a:hover {
			text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
		}
        
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: rgb(165, 164, 164);
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #c0392b;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}